<div class="my-14 grid grid-cols-3 text-secondary-fw py-10 px-96 place-items-center text-center bg-primary-fw align-center">
  <div>
    <ion-text>Previous</ion-text>
    <h2 class="text-secondary-fw">Economic<br>Growth</h2>
      <div class="flex items-center justify-center">
        <svg  vg width="121" height="121" viewBox="0 0 121 121" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle r="60.5" transform="matrix(-1 0 0 1 60.5 60.5)" fill="#EBFC68"/>
        <path d="M92 61.3478H29M29 61.3478C37.5175 60.599 55.2573 53.0812 58.0769 29M29 61.3478C35.6084 61.6473 52.371 67.2333 58.0769 91" stroke="#264347" stroke-width="4"/>
        </svg>
      </div>
  </div>
  <div class="w-0.5 h-72 bg-secondary-fw"></div>
  <div>
    <ion-text>Next</ion-text>
    <h2 class="text-secondary-fw">Less<br>Inequality</h2>
      <div class="flex items-center justify-center">
        <svg width="121" height="121" viewBox="0 0 121 121" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="60.5" cy="60.5" r="60.5" fill="#EBFC68"/>
        <path d="M29 61.3478H92M92 61.3478C83.4825 60.599 65.7427 53.0812 62.9231 29M92 61.3478C85.3916 61.6473 68.629 67.2333 62.9231 91" stroke="#264347" stroke-width="4"/>
        </svg>
      </div>
  </div>
</div>