<div class="w-screen">
  <div class="ml-16 mr-16 md:ml-28 md:mr-28">
    <div class="max-w-7xl mx-auto">
      <p
        class="text-primary-fw text-md md:text-3xl max-w-3xl pt-32 sm:pt-36 md:pt-44 pb-20 md:pb-44"
      >
        “Our goal is to help you as a student become less economical worried by
        giving you access to cheap & modern student apartments. We want to
        improve your consumption in the household and show you how to save
        money.
      </p>
    </div>
  </div>
</div>
