<div>
  <div class="relative">
  <img
    src="./assets/img/hero-home.webp"
    class="text-center -z-10 absolute  w-screen -top-32"
  />
</div>

  <div class="ml-16 mr-16 md:ml-28 md:mr-28">
    <h1
      class="font-light text-secondary-fw text-2xl xsm:text-2xl sm:text-4xl md:text-5xl 2xl:text-8xl mx-auto max-w-8xl pt-36 sm:pt-36 md:mp-56 lg:pt-64 z-20 !leading-tight"
    >
      Save the <span class="font-semibold"> world </span><br/>for <span class="font-semibold">our kids</span>
    </h1>
    <h3 class="text-secondary-fw font-extralight text-3xl">Sustainable Development</h3>
  </div>

  <div class="ml-16 mr-16 md:ml-28 md:mr-28 pt-28 max-w-8xl flex">
    <h3 class=" text-secondary-fw font-extralight text-sm w-96 pr-20 border-r-2 border-secondary-fw">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eos accusamus nostrum eius sit nulla obcaecati tempora?</h3>
    <h3 class=" text-secondary-fw font-extralight text-sm w-96 pl-20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eos accusamus nostrum eius sit nulla obcaecati tempora?</h3>
  </div>
</div>
