<div class="bg-primary-fw w-screen">

  <div class="ml-28 mr-28">
    <div class="max-w-7xl mx-auto">
    <p class="text-secondary-fw text-2xl max-w-3xl pt-44 pb-10">
      “We are experts in inspiring companies, to change the world with 4 Sustainable Development goals. We are experts in inspiring companies, to change the world with 4 Sustainable Development goals. We are experts in inspiring companies, to change the world with 4 Sustainable Development goals. 
    </p></div>
    <div class="flex space-x-6 pb-20 text-secondary-fw">
      <ion-icon class="w-6 h-6" name="logo-facebook"></ion-icon>
      <ion-icon class="w-6 h-6" name="logo-twitter"></ion-icon>
      <ion-icon class="w-6 h-6" name="logo-instagram"></ion-icon>
      <ion-icon class="w-6 h-6" name="logo-linkedin"></ion-icon>
      <ion-icon class="w-6 h-6" name="copy-outline"></ion-icon>
    </div>
    </div>

</div>
