<div class="bg-primary-fw w-screen">

  <div class="ml-28 mr-28">
    <div class="max-w-7xl mx-auto">
    <p class="text-secondary-fw text-2xl max-w-3xl pt-44 pb-20">
      “We are experts in inspiring companies, to change the world with 4 Sustainable Development goals. We are experts in inspiring companies, to change the world with 4 Sustainable Development goals. We are experts in inspiring companies, to change the world with 4 Sustainable Development goals. 
    </p></div>
    </div>

</div>
