<div>
<!-- component -->
<footer class="bg-primary-fw">
  <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-4">
      <div class="text-white-button">
      <p >Student FlatFleet</p>
        <p class="max-w-xs mt-4 text-sm">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        </p>
        <div class="flex mt-8 space-x-6">
          <ion-icon class="w-6 h-6" name="logo-facebook"></ion-icon>
          <ion-icon class="w-6 h-6" name="logo-twitter"></ion-icon>
          <ion-icon class="w-6 h-6" name="logo-instagram"></ion-icon>
          <ion-icon class="w-6 h-6" name="logo-linkedin"></ion-icon>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-8 lg:col-span-2 sm:grid-cols-2 lg:grid-cols-3">
        <div>
          <nav class="flex flex-col mt-4 space-y-2 text-sm text-gray-500">
            <a class="hover:opacity-75" href> Home </a>
            <a class="hover:opacity-75" href> Forrent</a>
            <a class="hover:opacity-75" href> New Property </a>
          </nav>
        </div>
        <div>
          <nav class="flex flex-col mt-4 space-y-2 text-sm text-gray-500">
            <a class="hover:opacity-75" href> Blogs </a>
            <a class="hover:opacity-75" href> About </a>
            <a class="hover:opacity-75" href> FAQ’s </a>
          </nav>
        </div>
        <div>
          <nav class="flex flex-col mt-4 space-y-2 text-sm text-gray-500">
            <a class="hover:opacity-75" href> Privacy & Policy </a>
            <a class="hover:opacity-75" href> Terms of condition </a>
            <a class="hover:opacity-75" href> Contact Us </a>
          </nav>
        </div>
      </div>
    </div>
    <p class="mt-8 text-xs text-gray-800">
      © 2022 Comany Name
    </p>
  </div>
</footer>
</div>