<div>
  <div class="ml-16 mr-16 md:ml-28 md:mr-28 mt-16 mb-20 md:pt-10 2xl:pt-20">
    <div class="max-w-7xl mx-auto">
      <p
        class="text-primary-fw text-md md:text-5xl max-w-6xl pt-5 sm:pt-20 md:pt-20 lg:pt-36 3xl:pt-44 !leading-tight"
      >
        We are experts in inspiring companies, to change the world with 4 UN
        Sustainable Development goals.
      </p>
      <div class="flex">
        <p
          class="bg-secondary-fw mr-5 md:mr-20 text-primary-fw py-2 rounded-full text-sm md:text-xl max-w-6xl mt-5 sm:mt-10 md:mt-10 mb-10 !leading-tight font-medium"
        >
          And that's not all
        </p>
        <p
          class="bg-primary-fw text-secondary-fw py-2 px-5 rounded-full text-sm md:text-xl max-w-6xl mt-5 sm:mt-10 md:mt-10 mb-10 !leading-tight font-medium"
        >
          About us
        </p>
      </div>
    </div>
  </div>
</div>
<!-- 
 <div class="bg-img2 ">
<div (mouseover)="changeText = true" (mouseout)="changeText = false">
  <span *ngIf="!changeText"
    >text 1</span
  >
  <span *ngIf="changeText">
    <span>
      <div class="bg-img"><h1 class="z-20">lalala</h1></div>
    </span>
  </span>
</div> -->
