.faq{
    background-color: #efede6 !important;
}
ion-item {
    --background: red !important;
}
i-item
ion-accordion{
    background-color: #efede6 !important;
}
ion-accordion-group{
    background-color: #efede6 !important;
}