<div class="relative"><img src="./assets/img/businessHome/business-img-1.png" class="absolute mt-44 -ml-28 max-w-sm" /></div>
<div class="relative"><img src="./assets/img/businessHome/business-img-2.png" class="absolute mt-16 ml-64 max-w-sm" /></div>

<div class="relative"><img src="./assets/img/businessHome/business-img-4.png" class="absolute mt-28 -mr-20 right-0 max-w-sm" /></div>
<div class="relative"><img src="./assets/img/businessHome/business-img-3.png" class="absolute mt-20 mr-28 right-0 max-w-sm" /></div>

<div class="bg-primary-fw mb-10 pb-20">
  <div class="mx-10">
<h2 class="text-center font-light text-secondary-fw text-3xl xsm:text-3xl sm:text-4xl md:text-5xl 2xl:text-7xl mx-auto max-w-8xl pt-20 sm:pt-36 md:pt-38 lg:pt-28 z-20 !leading-tight">
  How does this <span class="font-semibold">help</span> <br/>
your <span class="font-semibold">business</span>
</h2>

<p
class=" text-secondary-fw py-2 rounded-full text-sm md:text-lg max-w-xl mx-auto mt-5 sm:mt-5 md:mt-5 !leading-tight font-light text-center"
>
The first of the UN's sustainable development goals concerns poverty. After a long period of a falling rate in poverty, it is on the rise once mor.
</p>
<div class="text-center">
<button
class="bg-secondary-fw text-center text-primary-fw py-2 px-5 rounded-full text-sm md:text-xl  mt-5 sm:mt-3 md:mt-3 mb-3 !leading-tight font-medium"
>
View all goals
</button></div></div>
</div>


