<div class="">
  <div class="container px-6 py-10 mx-auto grid md:grid-cols-2">
      <h1 class="text-2xl text-green-text capitalize lg:text-3xl"><span class="font-semibold"> All of </span> our <span class="flex">Sustainable</span></h1>

      <div class="grid grid-cols-1 mt-5 ">
        <div>
        <p class="font-medium text-green-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy text ever since.</p>
        </div>

          <p class="mt-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>

            <p class="mt-2 underline">Our goals and values</p>

            <p class="font-medium text-green-text mt-10">“Our goal is to help you as a student become less economical worried by giving you access 
              to cheap & modern student apartments. We want to improve your consumption in the household and 
              show you how to save money.</p>

      </div>
  </div>
</div>