#container{
    position: relative;
    display:flex;
    flex-direction: column;
  }
  


#parentbeta {
    display:block;
  position: absolute;
    content:url(https://raw.githubusercontent.com/lucasjolibois54/futureworld/main/src/assets/img/empty-image.webp);
    width: 100%;
  object-fit: cover;
  z-index: -3;
}

.video-cursor-preview  {
  cursor: 250 25;
  cursor: url('/assets/icon/cursor6.png'),
   auto;
}

p {
  line-height: 1.5;
}
h1 {
  margin: 0;
  font-weight: inherit;
}
.lede {
  font-size: 1.25em;
}
.code {
  padding: 2px;
  font-size: .9em;
  border-radius: 4px;
  font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
  background: hsla(100,0%,100%,.5);
}

/* horizontal & vertical centering */
.center {
  display: table;
  width: 100%;
  height: 100%;
}
  .center__inner {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
  }

/* modal */
@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.4);
  display: none;
}
/* display the modal overlay when the input[type=radio] is checked */
.modal__state:checked + .modal__overlay {
  opacity: 1;
  animation: fade-in .4s;
  display: block;
}
@keyframes scoot-up {
0%   { margin-top: 80px;}
100%  { margin-top: 50px; }
}
.modal {
  position: relative;
  margin: 50px;
  margin-top: 80px;
  padding: 40px 20px;
  text-align: left;
}
.modal__state:checked + .modal__overlay .modal {
  top: 10%;
  left: 0%;
  animation: scoot-up .2s;
  animation-timing-function: ease-out;
  transform-origin: 50% 0px;
}
.modal__close {
  position: absolute;
  top: 40px;
  right: 20px;
}
.modal__overlay-close {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/* the input[type=radio] that's toggled when the label is clicked */
.modal__state {
  display: none;
}


/* button styles */
.button {
  display: inline-block;
  padding: 1em;
  font-weight: bold;
  border-radius: 4px;
}
.button:hover, .button:focus {
  cursor: pointer;
}
.button:active {

}

/* close button */
.button--close {
  padding: .2em .5em;

}
.button--inline {
  padding: .25em .5em;
}
.button--close:hover,
.button--close:focus {

}
.button--close:active {
}

@media screen and (min-width: 320px) {
  .modal__state:checked + .modal__overlay .modal {
    top: 30%;
    left: 0%;
    animation: scoot-up .2s;
    animation-timing-function: ease-out;
    transform-origin: 50% 0px;
  }
}


@media screen and (min-width: 1440px) {
  .modal__state:checked + .modal__overlay .modal {
    top: 0%;
    left: 0%;
    animation: scoot-up .2s;
    animation-timing-function: ease-out;
    transform-origin: 50% 0px;
  }

}

@media screen and (min-width: 2560px) {
  .modal__state:checked + .modal__overlay .modal {
    top: 0%;
    left: 10%;
    animation: scoot-up .2s;
    animation-timing-function: ease-out;
    transform-origin: 50% 0px;
    z-index: 1;
  }

}