
<div>
<div id="container" class="mt-28 text-center mb-20">
  <div id="parentb"></div>
  <div id="parent">
    <div  class="ml-16 mr-16 md:ml-28 md:mr-28">
    <p id="test" class="text">hey</p></div>
    <div id="hover-content"></div>
  </div>
        <div id="parent2">
          <div class="ml-16 mr-16 md:ml-28 md:mr-28">
    <p id="test2" class="text">hey</p></div>
          <div id="hover-content2"></div>
  </div>
  <img src="https://raw.githubusercontent.com/lucasjolibois54/futureworld/main/src/assets/img/empty-image.webp">
</div>
</div>

<h2>next section</h2>