<div>
  <div id="container" class="mt-28 text-center mb-20 ">
    <div id="parentb"></div>


    <img class="video-cursor-preview" src="./assets/img/video-img.png" cursor-active cursor-opacity="0"> 

    <video class="video-cursor-preview"  controls>
      <source src="./assets/video/FutureWorld-intro-home.mp4" type="video/mp4">
      <source src="./assets/video/FutureWorld-intro-home.mp4" type="video/ogg">
    Your browser does not support the video tag.
    </video>

    <!-- <div class="">
          <a (click)="fullscreen(video);">
    <video #video class="">
      <source class="" src="./assets/video/FutureWorld-intro-home.mp4" type="video/mp4">
      <img src="./assets/img/video-img.png" title="Your browser does not support the <video> tag">
       </video></a>
     </div>
 -->
