<div>
  <div id="container" class="mt-28 text-center mb-20 ">
    <div id="parentb"></div>

    <!-- <img class="video-cursor-preview" src="./assets/img/video-img.png" cursor-active cursor-opacity="0"> -->
<!-- 
    <video class="video-cursor-preview"  controls>
      <source src="./assets/video/FutureWorld-intro-home.mp4" type="video/mp4">
      <source src="./assets/video/FutureWorld-intro-home.mp4" type="video/ogg">
    Your browser does not support the video tag.
    </video> -->
  </div>
</div>



<!-- FutureWorld-intro-home.mp4 -->video-img.png

<section class="center">
  <div class="center__inner">
    <div class="">
      <label class="button" for="modal__state"><i class="fa fa-rocket"></i>     
        <img class="video-cursor-preview" src="./assets/img/video-img.png" cursor-active cursor-opacity="0"></label>
      <input type="checkbox" name="modal__state" id="modal__state" class="modal__state">
      <div class="modal__overlay">
        <label for="modal__state" class="modal__overlay-close"></label>
        <div class="modal">
          <label class="button button--close modal__close" for="modal__state"><i class="fa fa-times"></i></label>

          <video class="video-cursor-preview"  controls>
            <source src="./assets/video/FutureWorld-intro-home.mp4" type="video/mp4">
            <source src="./assets/video/FutureWorld-intro-home.mp4" type="video/ogg">
          Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </div>
</section>