#container{
    position: relative;
    display:flex;
    flex-direction: column;
  }
  


#parentbeta {
    display:block;
  position: absolute;
    content:url(https://raw.githubusercontent.com/lucasjolibois54/futureworld/main/src/assets/img/empty-image.webp);
    width: 100%;
  object-fit: cover;
  z-index: -3;
}

