<div class="scroll">
<app-light-nav></app-light-nav>
<home-hero></home-hero>
<app-sub-hero></app-sub-hero>
<app-four-goals></app-four-goals>
<app-slider></app-slider>
<div class="max-w-8xl mx-auto text-primary-fw">
    <p
        class="text-primary-fw text-3xl md:text-5xl max-w-6xl pt-5 sm:pt-20 md:pt-20 !leading-tight ml-16 mr-16 md:ml-28 md:mr-28 mb-10"
      >
      <span class="font-semibold">All of </span>our Sustainable <br> Development <span class="font-semibold">goals</span>
      </p>
<swiper class="swiper-container"
      [slidesPerView]="3"
      [spaceBetween]="50"
      (swiper)="onSwiper($event)"
      (slideChange)="onSlideChange()"
      [navigation]="true"
      [pagination]="{ clickable: true }"
      [scrollbar]="{ draggable: true }"
    >
      <ng-template swiperSlide>
        <img src="./assets/img/homeSlider/slider-img-1.webp"/>
        <div class="flex flex-row group">
        <p class="text-5xl mt-6">Poverty</p>
        <div class="w-12 ml-6 mt-8 relative group-hover:translate-x-10 translate-x-4 pb-10 transform transition duration-300 ease-in-out">
        <img class="absolute" src="./assets/img/homeSlider/arrow.svg"/>
    </div>
</div>
        <p class="mt-3">100 mil · worldwide</p>
    </ng-template>
      <ng-template swiperSlide>
        <img src="./assets/img/homeSlider/slider-img-2.webp"/>
      </ng-template>
      <ng-template swiperSlide>
        <img src="./assets/img/homeSlider/slider-img-3.webp"/>
      </ng-template>
      <ng-template swiperSlide>
        <img src="./assets/img/homeSlider/slider-img-4.webp"/>
      </ng-template>
    </swiper>
</div>
<app-how-help-business></app-how-help-business>
<app-follow-us></app-follow-us>
<app-footer></app-footer>
</div>