<div class="max-w-8xl mx-auto">
  <div class="max-w-4 flex flex-row space-x-8 mt-16 ml-16">
      <div class="basis-1/3">
        <p class="text-3xl text-primary-fw font-extralight">
        "“All of the goals are aimed for everyone. So, every single individual can make a change for the world. But the biggest change can happen through the corporate world. “</p>
      </div>
      <div class="basis-2/3 text-left text-4xl text-primary-fw pl-52 pr-52">
        <p class="font-bold">Sustainable business development is about future-proofing you company’s business model by integrating sustainability into the core business</p>
          <p class="text-3xl text-primary-fw pt-12">
          This website was developed by 4 Danish students at Academy of Technologies and Business Zealand. 
          <strong>/Future</strong>World tries to provide answers to some of the most critical questions for companies and try to give inspiration for how work with the goals in 
          mind. So regardless of whether you as a top manager need to understand sustainability as a new basic condition, or whether you s a middle manager need to find inspiration
          from others or insight into methods that can be useful in your work, there is help here.
          </p>
      </div>
    </div>
  </div>