.maximum-hero-height{
    max-height: 1050px;
}

#background-hero {
    background: url("/assets/img/aboutus-hero.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    max-height: 689px;
    min-height: 500px;
  }

